.media{
    font-size: 1em;
    h1{
        color: red;
    }
    img{
        margin: 0 auto;
    }
}
.info{
    color: blue;
}
.contact{
    width: auto;
    &__adress{
        color: blue;
    }
    &__phone--sign{
        bottom: 1px solid red;
    }

}